.content
  .page-header
    %h1 Resend confirmation instructions
  .row
    .span2
      &nbsp;
    .span12
      = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => 'form-horizontal'}) do |f|
        %fieldset
          = f.error_notification
          = f.input :email, :required => true
          .form-actions
            = f.button :submit, "Resend confirmation", :class => 'btn-primary'
