.page-header
  %h1 Terms of Use
.row
  .span10
    %p 
      Nobody really reads the terms and conditions. In this case they're quite simple:
      %ul
        %li Don't do anything illegal with the application.
        %li Don't break the application itself.
        %li More items if I think of them.