- content_for(:hero_unit) do
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %h1 Permanent Redirect
    %p Sometimes you want to move to a different domain and/or a different platform. Maybe you're defecting from Wordpress to Jekyll.  threezeroone will help you setup permanent redirects for each of your pages to it's new home.
    %p
      %a{:class => ' btn primary large', :href => '/users/sign_up'} Get started now »