.content
  .hero-unit
    .row
      .span6
        = image_tag('camper.png', :class => 'hidden-phone hidden-tablet')
      .span4{:style => 'padding-top:80px;'}
        %h1 
          Nomad
        %p Move a website to a new domain and have the traffic follow.
        %p
          %a{:class => 'btn btn-primary btn-large', :href => '/users/sign_up'} Get started now »

  .row
    .span4
      %h2 Domains
      %p Start by adding a domain and catch all target. Any visitors to any path will be redirected to the catch all.
    .span4
      %h2 Mapping
      %p Add mappings between old paths and new paths. This allows for web apps that use slightly different paths
    .span4
      %h2 Analytics
      %p View analytics about the state of your mapped domains. Keep track of where your traffic is being redirected to.  
   