= simple_form_for [:manage, @domain], :wrapper => :inline do |f|
  = f.input :name, :input_html => { :class => "span12" }, :hint => "add your source domain here"
  = f.input :catch_all, :input_html => { :class => "span12" }, :hint => "add the default redirect target here"
  .actions
    = f.button :submit, :class => 'primary'
    
