= simple_form_for [:manage, @domain], :wrapper => :inline do |f|
  = f.input :name, :input_html => { :class => "span12" }, :hint => (@domain.errors[:name].empty? ? "Add your source domain here" : nil)
  = f.input :catch_all, :input_html => { :class => "span12" }, :hint => (@domain.errors[:catch_all].empty? ? "Add the default redirect target here" : nil)
  .actions
    = f.button :submit, :class => 'primary'
    
