.options{:style => 'text-align:right; margin-bottom:20px'}
  = link_to 'Add a mapping', '#', :class => 'btn primary'
%table
  %thead
    %tr
      %th Source Path
      %th Target Path
      %th
  %tbody
    - @mappings.each do |mapping|
      %tr
        %td= mapping.source_path
        %td= mapping.target_path
        %td Edit