.content
  .row
    .span16
      .options{:style => 'text-align:right; margin-bottom:20px'}
        = link_to 'New Domain', new_manage_domain_path, :class => 'btn primary'
      %h1 Domains
      %table
        %tr
          %th Name
          %th Catch all
          %th

        - @manage_domains.each do |domain|
          %tr
            %td= domain.name
            %td= domain.catch_all
            %td= link_to 'Manage', manage_domain_path(domain)


