.content
  .page-header
    %h2=breadcrumbs
  .row
    .span12
      %ul{:class => 'nav nav-tabs'}
        %li{:class => 'active'}
          %a{:href => '#basic', :"data-toggle" => 'tab'} Basic Details
        %li
          %a{:href => '#mappings', :"data-toggle" => 'tab'} Mappings
        %li
          %a{:href => '#analytics', :"data-toggle" => 'tab'} Analytics
        
        

      .tab-content
        .tab-pane{:id => 'basic', :class => 'active'}
          = render 'basic_form'
        .tab-pane{:id => 'mappings'}
          = render 'mappings'
        .tab-pane{:id => 'analytics'}
          = render 'analytics'
        

:javascript
  $(function () {
    if(window.location.hash) {
      $('.tabs a[href="'+window.location.hash+'"]').tab('show');
    } else {
      $('.tabs a[href="#basic"]').tab('show');
    }
  });
