-#%ul.breadcrumb
-#  %li
-#    %a{:href => manage_domains_path} Home
-#    - if @domain
-#      %span.divider /
-#  -if @domain
-#    %li
-#      %a{:href => manage_domain_path(@domain)}= @domain.name

= breadcrumb
