%ul.nav.pull-right
  - if user_signed_in?
    %li.dropdown
      %a{:href => "#", :class => 'dropdown-toggle', :"data-toggle" => 'dropdown'}
        = current_user.email
        %span{:class=>"caret"}
      %ul.dropdown-menu
        %li
          %a{:href => '/users/edit'} Account settings
        %li.divider
        %li
          %a{:href => '/users/sign_out' } Sign Out
  - else
    %li
      %a{:href => new_user_registration_path } Register
    %li
      %a{:href => new_user_session_path } Sign In  

